# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.aux
*.log
*.bbl
*.blg
*.glg
*.glo
*.glsdefs
*.gls
*.ist
*.pdf
*.gz
openintroduction.toc
openlogic.xdy
tex/ch12-whatiscriticalthinking.tex
tex/ch13-substitutes.tex
tex/ch14-incompletearguments.tex
tex/ch15-emotions.tex
tex/ch16-generalizations.tex
tex/ch17-analogy.tex
tex/ch18-sources.tex
tex/ch19-maps.tex
tex/ch20-practicalarguments.tex
tex/ch21-whatareinductionandscientificreasoning.tex
tex/ch22-inductioninscience.tex
tex/ch23-Mills-Methods.tex
tex/ch24-Causation-Explanation.tex
tex/ch25-Analogy-in-Science.tex
tex/ch26-Experimental-Methods.tex
tex/ch27-Association-Diagrams-Cross-Tabulations.tex
tex/ch28-Explanation-Building.tex
tex/ch29-Problems-In-Induction.tex
tufte-book.cls
openintroduction.out
